
@{
    ViewBag.Title = "CheckLive";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand" href="#">Proxy Free</div>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/home/upload" >Upload Socks</a></li>
            <li><a href="/home/checklive" class="active">Check Live</a></li>
            <li><a href="/home/contactme">Contact Me</a></li>
        </ul>
    </div>
</nav>

<div style="margin-top:60px" class="container ng-scope">
    <title>Check Live</title>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Check Live</h1>
            </div>
        </div>
    </div>
    <div>
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="proxy-type">Proxy Type</label>
                <select class="form-control" id="proxy-type" name="proxy-type">
                    <option value="socks5">Socks 5</option>
                    <option value="ssh">SSH</option>
                </select>
            </div>
            <textarea class="input-block-level" style="overflow:auto; width:1150px; height: 250px;" onDblClick="this.value=''" name=sockslist></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
