
@{
    ViewBag.Title = "ContactMe";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand" href="#">Proxy Free</div>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/home/upload">Upload Socks</a></li>
            <li><a href="/home/checklive">Check Live</a></li>
            <li><a href="/home/contactme" class="active" >Contact Me</a></li>
        </ul>
    </div>
</nav>

<div style="margin-top:60px" class="container ng-scope">
    <title>Contact Me</title>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact Me</h1>
            </div>
        </div>
    </div>
</div>

